.navbar
	.nav-link
		font-size: 1rem
		color: rgba($blue, .7) !important
		font-weight: bold
		&:hover
			color: $blue !important

	.nav-link-active
		color: $blue !important
		// border-radius: 0px 0px 3px 3px
		// border-bottom: 4px solid $blue